html
  head
    style
      include styles.css
    title= title
  body
  h1= 'Blogs'
- var values = blogs;
- var links = urls;
div(class="blogs-list")
  each val in urls
    a(href='/blogs/'+ val)= blogs[val - 1]
  else
    li There are no values
