html
  head
    style
      include styles.css
    title= title
  body
    a(class="back-link" href='/blogs') Back

    h1(class="app-header")= header

    div(class="blog-date")= date
    
    p= text

