* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.app-header {
    background: rgb(53,106,160); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=1 ); /* IE6-9 */
    padding: 20px;
}

.app-header:after {
    clear: both;
    content: '';
    display: block;
}

.logo {
    color: #fff;
    float: left;
    font-size: 30px;
}

.add-blog-button {
    background: #fff;
    border: 0;
    border-radius: 20px;
    color: rgb(53,106,160);
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;;
    text-transform: uppercase;
    vertical-align: middle;
}

.page-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.blogs-list {
    background: rgb(208, 224, 240);
    padding: 20px;
    width: 250px;
}

#root {
    flex-grow: 1;
}

.add-blog-form {
    padding: 20px;
}

.add-blog-form label {
    display: block;
    margin-bottom: 20px;
}

.add-blog-form label > input {
    display: block;
    font-size: 15px;
    padding: 5px;
    width: 100%;
}

.add-blog-form textarea {
    height: 500px;
    width: 100%;
}

.add-blog-form .send-blog-button {
    background: rgb(53,106,160);
    border: 0;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;;
    text-transform: uppercase;
    vertical-align: middle;
}
