* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-header {
    background-color: #ffa100;
    padding: 20px;
    -webkit-box-shadow: -1px 5px 2px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 2px -5px rgba(0,0,0,0.75);
    box-shadow: -1px 5px 2px -5px rgba(0,0,0,0.75);
}

.header-logo {
    color: #fff;
    font-size: 30px;
}

.channels-list-container {
    float: left;
}

.channels-list-container:after {
    content: '';
    display: block;
    clear: both;
}
.channels-list-container ul {
    margin: 0;
    padding: 10px;
}

.channels-list-container ul li {
    display: block;
    list-style: none;
}

.channels-list-container ul li button {
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    text-align: left;
    width: 100%
}

.channels-list-container ul li button:hover {
    background: #d1d1d1;
}

.choose-channel-button {
    display: none;
    border: 0;
    background-color: #63b6ff;
    padding: 8px;
}

.channels-list-container .expanded {
    display: block;
}

.channels-list-container .collapsed {
    display: block;
}

.news-container {
    margin: 50px auto;
    width: 800px;
}


/*--- ARTICLE ---*/

.article {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}

.article:after {
    content: '';
    display: block;
    clear: both;
}

.article-image-container {
    float: left;
    font-size: 0;
    width: 200px;
}

.article-image-container > img {
    margin-right: 20px;
    width: 100%;
}

.article-text {
    float: right;
}

.article h3 {
    margin: 5px 0;
}

.article h3 a {
    color: #ff8800;
    text-decoration: none;
}

.article h3 a:hover {
    text-decoration: underline;
}

.article-description {
    font-size: 14px;
}

.article-author {
    font-size: 12px;
    color: #8a8a8a;
}

@media screen and (max-width: 600px) {
    .channels-list-container {
        display: none;
    }

    .channels-list-container.expanded {
        display: block;
    }

    .channels-list-container .collapsed {
        display: none;
    }

    .choose-channel-button {
        display: block;
        width: 100%;
    }

    .channels-list-container .collapsed {
        display: none;
    }
}
