@import 'tools/colors';
@import 'tools/shadows';
@import 'base/typography';
@import 'base/common';
@import 'components/footer';
@import 'components/header';

.app-off.app-header {
    background-color: gray;
}

.app-off.choose-channel-button {
    display: none;
}

.app-off.run-app-button {
    background: $red;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;

    &:hover {
        background: darken($red, 20%);
        border: 1px solid $red;
    }
}
