.choose-channel-button {
    border: 0;
    border-radius: 0;
    background-color: #ef4040;
    color: #fff;
    cursor: pointer;
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 8px;
    text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
    .choose-channel-button {
        box-shadow: 0px -4px 5px -4px rgba(0,0,0,0.75);
        display: block;
        width: 100%;
        -webkit-box-shadow: 0px -4px 5px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -4px 5px -4px rgba(0,0,0,0.75);
    }
}
