.news-container {
    margin: 10px auto;
    width: 800px;
}


@media screen and (max-width: 1300px) {
    .news-container {
        width: 650px;
    }
}

@media screen and (max-width: 1000px) {
    .news-container {
        padding: 10px 20px;
        width: 100%;
    }
}
