@import 'tools/colors';
@import 'tools/shadows';
@import 'base/typography';
@import 'base/common';
@import 'components/footer';
@import 'components/header';

.app-header {
    background-color: gray;
}

.choose-channel-button {
    display: none;
}

.run-app-button {
    background: lighten($orange, 50%);
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;

    &:hover {
        background: $orange;
    }
}
