/*--- COMMON STYLES ---*/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

/*--- FOOTER to bottom ---*/
.page-wrapper {
    height: 100%;
}

.root {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 40px;
}

.page-footer {
    background: #ccc;
    box-sizing: border-box;
    font-size: 12px;
    height: 40px;
    margin-top: -40px;
    padding: 12px;
}

/*--- HEADER ---*/
.app-header {
    background-color: #ffa100;
    box-shadow: -1px 5px 2px -5px rgba(0,0,0,0.75);
    padding: 20px;
    -webkit-box-shadow: -1px 5px 2px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 2px -5px rgba(0,0,0,0.75);
}

.header-logo {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

/*--- CHANNELS LIST ---*/
.channels-list-container {
    float: left;
}

.channels-list-container ul {
    margin: 0;
    padding: 10px;
}

.channels-list-container ul li {
    display: block;
    list-style: none;
}

.channels-list-container ul li button {
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    text-align: left;
    width: 100%
}

.channels-list-container ul li button:hover {
    background: #d1d1d1;
}

.choose-channel-button {
    border: 0;
    border-radius: 0;
    background-color: #ffa100;
    color: #fff;
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 8px;
    text-transform: uppercase;
}

.channels-list-container .expanded {
    display: block;
}

.channels-list-container .collapsed {
    display: block;
}

.news-container {
    margin: 10px auto;
    width: 800px;
}


/*--- ARTICLE ---*/
.article {
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

.article-image-container {
    display: table-cell;
    font-size: 0;
    padding-right: 10px;
    vertical-align: top;
}

.article-image-container > img {
    width: 200px;
}

.article-text {
    display: table-cell;
    width: 100%;
}

.article h3 {
    font-size: 17px;
    margin: 0 0 5px 0;
}

.article h3 a {
    color: #ff8800;
    text-decoration: none;
}

.article h3 a:hover {
    text-decoration: underline;
}

.article-description {
    font-size: 14px;
    margin: 5px 0;
}

.article-author,
.article-date {
    color: #8a8a8a;
    font-size: 12px;
}


@media screen and (max-width: 1300px) {
    .news-container {
        width: 650px;
    }
}

@media screen and (max-width: 1000px) {
    .channels-list-container {
        background: #ffdda3;
        display: none;
    }

    .channels-list-container.expanded {
        display: block;
        float: none;
    }

    .channels-list-container .collapsed {
        display: none;
    }

    .choose-channel-button {
        box-shadow: 0px -4px 5px -4px rgba(0,0,0,0.75);
        display: block;
        width: 100%;
        -webkit-box-shadow: 0px -4px 5px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -4px 5px -4px rgba(0,0,0,0.75);
    }

    .channels-list-container .collapsed {
        display: none;
    }

    .news-container {
        padding: 10px 20px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .article-image-container > img {
        width: 100px;
    }
}

@media screen and (max-width: 480px) {
    .article-image-container {
        display: none;
    }
}
