* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body,
input,
textarea {
    font-family: 'Arsenal', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 20px;
}

header {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;;
}

h4 {
    color: #7c838e;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.app-container {
    display: table;
    margin: 0 auto;
    width: 800px;
}

.articles-list-container a {
    color: #000;
}

.articles-list-container a:hover {
    text-decoration: none;
}

.articles-list {
    padding: 20px 0;
}

.add-article-button,
.edit-article-button {
    background:rgb(255, 192, 2);
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.add-article-button:hover,
.edit-article-button:hover {
    background: rgb(228, 175, 10);
}

.edit-article-button {
    display: inline-block;
    margin-bottom: 20px;
}

.pagination-container {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}

.previous-page-button,
.next-page-button {
    font-size: 0;
    color: #000;
    background: rgb(255, 192, 2);
    line-height: 0;
    margin: 0 5px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
}

.previous-page-button:hover,
.next-page-button:hover {
    color: #fff;
}

.previous-page-button:before {
    content: '\2BC7';
    font-size: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.next-page-button:before {
    content: '\2BC8';
    font-size: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.date {
    color: #959ca8;
    font-size: 13px;
    font-style: italic;
}

.updated-date {
    margin-left: 20px;
}

.updated-date > span {
    color: #ec9a01;
}

.article-form textarea {
    display: block;
    height: 200px;
    margin-bottom: 10px;
    resize: none;
    width: 100%;
}

.article-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.article-form label > input {
    display: block;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.article-item {
    margin-bottom: 10px;
}

.page-wrapper {
    height: 100%;
}

.output {
    margin: 10px auto 0;
    width: 800px;
}

.app-container:after {
    content: '';
    display: block;
    clear: both;
}

.app-container h3 {
    color: #000;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.add-task-button {
    padding: 35px;
    text-align: center;
}

.add-task-button a {
    background: #689400;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 50px;
}

.add-task-button a:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.submit-button {
    background: #52778c;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 7px 15px;
}

.submit-button:hover {
    background: #ec9a01;
}

.submit-button:disabled {
    cursor: auto;
    opacity: 0.3;
}

.submit-button:disabled:hover {
    background: #52778c;
}

.close-form-button {
    color: #52778c;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 5px;
}

.close-form-button:hover {
    color: #ec9a01;
}

/* Add article page */
.add-article-page,
.edit-article-page {
    padding-bottom: 20px;
    position: relative;
}

.validation-message {
    color: #c20505;
    font-size: 13px;
    margin-top: 10px;
}

.message-success {
    color: #689400;
}
