html
  head
    style
      include styles.css
    title= title
  body
    - var values = blogs
    - var authorised = isAuthenticated
    include components/header.pug
    main(class="error-page-container")
        h3 Error
        div= message
        a(href="/" class="back-to-main") Main page
