html
  head
    style
      include styles.css
    title= title
  body
    if isEditing
        form(method='POST' action='/update-blog/' + blog.id)
            div
                label(for='title') Title
                input(type='text' name='title' value=blog.title)
                label(for='password') Author
                input#login.form-control(type='text' name='author' value=blog.author)
                textarea(class="add-blog-text" name="text")=blog.text
                button(type='submit') edit Blog
    else
            form(method='POST' action='/create-blog')
                div
                    label(for='title') Title
                    input(type='text' name='title')
                    label(for='password') Author
                    input#login.form-control(type='text' name='author')
                    textarea(class="add-blog-text" name="text")
                    button(type='submit') add Blog
