html
  head
    style
      include styles.css
    title= title
  body
    - var values = blogs
    - var authorised = isAuthenticated
    include components/header.pug
    main
        ul(class="blogs-list")
            each blog in values
                li
                    if authorised
                        a(href="/delete/" + blog._id.id class="delete-button")
                        a(href="/blogs/edit/" + blog._id.id class="edit-blog-button")
                    a(href="/blogs/" + blog._id.id)= blog._id.title
                    div= blog._id.date
