html
  head
    style
      include styles.css
    title= title
  body
    - var values = blogs
    - var authorised = isAuthenticated
    div
        if authorised
            div
                a(href="/logout") Logout
            div
                a(href="/addBlogPage") Add blog
        else 
            a(href="/loginPage") Login
    ul
        each blog in values
            li
            a(href="/blogs/" + blog._id.id)= blog._id.title
