* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

/* Header */
.app-header {
    background: rgb(53,106,160); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=1 ); /* IE6-9 */
    padding: 20px;
}

.app-header:after {
    clear: both;
    content: '';
    display: block;
}

.logo {
    color: #fff;
    float: left;
    font-size: 30px;
    text-decoration: none;
}

.login-section {
    float: right;
}


/* BUTTONS */
.button {
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.add-blog-button {
    background: #fff;
    color: rgb(53,106,160);
    float: left;
    margin-right: 10px;
}

.login-button,
.logout-button {
    border-color: #fff;
    color: #fff;
    float: right;
}

.enter-button,
.cancel-button,
.update-button {
    display: inline-block;
}

.enter-button:hover {
    background: #ffa600;
}

.cancel-button {
    background: #fff;
    border: 1px solid #868686;
    color: #000;
    margin-left: 10px;
}

.cancel-button:hover {
    background: rgb(235, 234, 234);
    border-color: transparent;
}

.back-button {
    float: left;
    background: #a1a1a1;
    color: #fff;
}

.edit-blog-button {
    color: #868686;
    cursor: pointer;
    float: right;
    line-height: 1;
    padding: 0 10px;
}

.edit-blog-button:after {
    color: #868686;
    content: '\1F589';
    font-size: 23px;
}

.edit-blog-button:hover:after {
    color: #ffa600;
}

.delete-button {
    color: #868686;
    float: right;
    line-height: 1;
    padding: 0 15px;
}

.blogs-list li a.delete-button:hover,
.blogs-list li a.edit-blog-button:hover {
    text-decoration: none;
}

.delete-button:hover:before {
    color: #ffa600;
    text-decoration: none;
}

.delete-button:before {
    content: '\1F5D1';
    color: #868686;
    cursor: pointer;
    font-size: 23px;
}

.back-to-main {
    border: 1px solid #ccc;
    color: rgb(53,106,160);
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    text-decoration: none;
}

/* Blogs list */
.blogs-list {
    margin: 0 auto;
    width: 900px;
}

.blogs-list li {
    list-style: none;
    padding: 10px 10px 20px;
}

.blogs-list li .delete-button,
.blogs-list li .edit-blog-button {
    visibility: hidden;
}

.blogs-list li:hover .delete-button,
.blogs-list li:hover .edit-blog-button {
    visibility: visible;
}

.blogs-list li a {
    color: rgb(53,106,160);
    font-size: 20px;
    text-decoration: none;
}

.blogs-list li a:hover {
    text-decoration: underline;
}

.date {
    color: rgb(173, 173, 173);
    font-size: 12px;
    margin-top: 5px;
}


/* BLOG */
.blog-container {
    margin: 0 auto;
    padding: 20px;
    width: 900px;
}

.blog-controls:after {
    clear: both;
    content: '';
    display: block;
}

h2.blog-title {
    font-size: 30px;
    color: rgb(53,106,160);
    margin-bottom: 10px;
}

.blog-container {
    margin-top: 30px;
}

.blog-info .date {
    margin-bottom: 10px;
}

.blog-info .updated {
    color: rgb(255, 149, 10);
    float: right;
    margin-left: 30px;
}

.blog-info .updated > span {
    color: rgb(173, 173, 173);
}

.blog-info .author {
    font-size: 14px;
    font-style: italic;
}

.blog-text {
    line-height: 1.5;
    margin-top: 30px;
}



form {
    border: 2px solid #868686;
    margin: 20px auto;
    padding: 30px;
    width: 800px;
}

form label,
form input,
form textarea {
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

form input {
    margin-bottom: 20px;
    padding: 5px;
}

form textarea {
    height: 400px;
    margin-bottom: 20px;
}

/* Login form */

form.login-form {
    border: 2px solid #868686;
    position: relative;
    width: 400px;
}

.validation-message {
    background: #ff9c9c;
    border-bottom: 1px solid #b90000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}

/* Error Page */ 
.error-page-container {
    text-align: center;
}

