header(class="app-header")
        div(class="logo") Blogs
        if authorised
            div(class="login-section")
                a(href="/addBlogPage" class="button add-blog-button") Add blog
                a(href="/logout" class="button logout-button") Logout
        else 
            div(class="login-section")
                a(href="/loginPage" class="button login-button") Login
