* {
    box-sizing: border-box !important;
}

body {
    background-color: #f8f9fa!important;
}

form label {
    display: block;
}

form label > input {
    margin-top: 10px;
}

body .row {
    margin: 0;
}

body .post-page .card {
    font-size: larger;
    padding: 20px 30px 30px;
}

body .author-page-post,
body .author-page-post:hover {
    color: initial;
    text-decoration: none;
}

