* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #fbfcff;
    font-family: 'Arsenal', sans-serif;
    height: 100%;
    margin: 0;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;;
}

h4 {
    color: #7c838e;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 100%;
}

.app-container {
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    height: 100%;
    margin: 0 auto;
    padding: 20px 20px 100px;
    width: 800px;
}

.app-container:after {
    content: '';
    display: block;
    clear: both;
}

.column {
    float: left;


    width: 50%;
}

.new-todos-list {
    overflow: auto;
}

.output {
    clear: both;
    height: 90px;
    margin: -90px auto 0;
    width: 800px;
}

.filters-section:after {
    content: '';
    display: block;
    clear: both;
}

.days-ago-filter-container {
    
    float: left;
    margin: 10px 0;
    
}

.days-ago-filter-container:after {
    clear: both;
    content: '';
    display: block;
}

.days-ago-filter {
    background: #d9dfe7;
    float: left;
    padding: 5px;
}

.clear-days-ago-filter-container {
    float: left;
}

.clear-days-ago-filter-container button {
    background: transparent;
    border: 2px solid #d9dfe7;
    color: #d9dfe7;
    cursor: pointer;
    font-size: 20px;
    padding: 2px 10px 3px;
}

.days-ago-input {
    width: 50px;
}

.add-task-button {
    background: #689400;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    color: #fff;
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 50px;
}

